[buildout]
develop = .
parts = test
newest = false
extensions = mr.developer

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts


[versions]
asn1crypto = 0.24.0
biscuits = 0.1.1
cryptography = 2.1.4
mr.developer = 1.38
pytest = 3.3.1
zc.buildout = 2.10.0
zc.recipe.egg = 2.0.5


[sources]
cromlech.jwt = git https://github.com/Cromlech/cromlech.jwt.git


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    cromlech.sessions.jwt[test]
    pytest
